.git
node_modules
vendor
.env
.env.backup
.env.production
.idea
.vscode
.fleet
.vercel
tests
phpunit.xml
*.md
docker-compose*.yml
.editorconfig
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
